#movies img,
#movie img {
    width: 100%;
}

@media(min-width:960px) {
    #movies .col-md-3 .well {
        height: 390px;
    }
    #movies .col-md-3 img {
        height: 240px;
    }
}

body {
    background-color: rgb(112, 112, 151);
}

.movies {
    display: flex;
    width: 30%;
    /* overflow-x: hidden !important; */
}

.container {
    height: auto;
    width: 100%;
}